# Many To Many Relation

## Student

| id(PK) | name      |
| ------ | --------- |
| INT    | CharField |



## Enrolment

| id(PK) | student_id(FK) - Student | lecture_id(FK) - Lecture |
| ------ | ------------------------ | ------------------------ |
| INT    | INT                      | INT                      |



## Lecture

| id(PK) | title     |
| ------ | --------- |
| INT    | CharField |

In [23]:
Student.objects.all()

In [19]:
# Student.objects.create(name='박병준')
# Student.objects.create(name='황은석')
# Student.objects.create(name='고재두')
# Student.objects.create(name='이종화')

In [20]:
# Lecture.objects.create(title='알고리즘')
# Lecture.objects.create(title='Django')

In [24]:
Lecture.objects.all()

In [26]:
# Enrolment.objects.create(student=Student.objects.get(id=15), lecture=Lecture.objects.get(id=1))

In [27]:
# Enrolment.objects.create(student=Student.objects.get(id=16), lecture=Lecture.objects.get(id=1))

In [28]:
# Enrolment.objects.create(student=Student.objects.get(id=17), lecture=Lecture.objects.get(id=1))

In [29]:
# Enrolment.objects.create(student=Student.objects.get(id=18), lecture=Lecture.objects.get(id=1))

In [30]:
# Enrolment.objects.create(student=Student.objects.get(id=15), lecture=Lecture.objects.get(id=2))

In [31]:
# Enrolment.objects.create(student=Student.objects.get(id=16), lecture=Lecture.objects.get(id=2))

In [32]:
# Enrolment.objects.create(student=Student.objects.get(id=17), lecture=Lecture.objects.get(id=2))

In [33]:
# Enrolment.objects.create(student=Student.objects.get(id=18), lecture=Lecture.objects.get(id=2))

In [44]:
박병준  = Student.objects.get(name='박병준')
수강신청1 = 박병준.enrolment_set.first()
수강신청2 = 박병준.enrolment_set.last()

수강신청1.lecture.title
수강신청2.lecture.title

'Django'

In [46]:
student = Student.objects.get(name='황은석')

for enrolment in student.enrolment_set.all():
    print(enrolment.lecture.title)

알고리즘
Django

In [47]:
for enrolment in student.enrolment_set.all():
    if len(enrolment.lecture.title) > 4:
        print(enrolment.lecture.title)

Django

In [53]:
lecture = Lecture.objects.get(id=1)
lecture.enrolment_set.all()

In [56]:
Hotel.dummy(10)

In [ ]:
Client.dummy(10)

In [66]:
new_hotel = Hotel.objects.last()
# new_hotel.clients.add(Client.objects.last())

In [67]:
new_hotel.clients.all()

In [68]:
new_hotel.clients.add(Client.objects.get(id=3), Client.objects.get(id=5), Client.objects.get(id=7))

In [70]:
new_hotel.clients.all().filter(name__contains='h')

In [4]:
client = Client.objects.get(id=3)

In [63]:
Client.objects.last().hotel_set.count()

0

In [75]:
client.hotel_set.add(Hotel.objects.get(id=2), Hotel.objects.get(id=4), Hotel.objects.get(id=6))

In [5]:
client.hotels.all().values('id', 'name')